---
interface Props {
  href: string;
  size?: "sm" | "md" | "lg";
  target: "_blank" | "_parent" | "_self" | "_top";
}

const { href, target, size = "md" } = Astro.props;

const height = {
  "sm": "h-6",
  "md": "h-8",
  "lg": "h-10",
}
---

<a class={`neu-button bg-gradient-to-br from-cyan-600 to-purple-600 font-black ${height[size]}`} href={href} target={target}>
  <slot />
</a>

<style>
  .neu-button {
    display: flex;
    margin: 5px;
    width: 120px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family:
      Consolas,
      Courier New,
      monospace;
    border: solid #404c5d 1px;
    font-size: 16px;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    -webkit-box-shadow:
      4px 4px 16px rgb(0,0,0,0.4),
      -4px -4px 16px rgb(255,255,255,0.4);
    box-shadow:
      4px 4px 16px rgb(0,0,0,0.4),
      -4px -4px 16px rgb(255,255,255,0.4);
  }

  .neu-button:hover {
    -webkit-box-shadow:
      2px 2px 14px rgb(0,0,0,0.5),
      -2px -2px 14px rgb(255,255,255,0.5);
    box-shadow:
      2px 2px 14px rgb(0,0,0,0.5),
      -2px -2px 14px rgb(255,255,255,0.5);
    color: white;
    -webkit-transition: 500ms;
    transition: 500ms;
  }

  .neu-button:active {
    -webkit-box-shadow:
      4px 4px 16px rgb(0,0,0,0.4),
      -4px -4px 16px rgb(255,255,255,0.4);
    box-shadow:
      4px 4px 16px rgb(0,0,0,0.4),
      -4px -4px 16px rgb(255,255,255,0.4);
    color: white;
    -webkit-transition: 100ms;
    transition: 100ms;
  }
</style>
